.message-row {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "div";
  margin-bottom: 20px;

}

.message-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: div;
  width: 100%;

}

.self-message {
  justify-content: end;
}

.self-message .message-content {
  justify-items: end;
}

.other-message {
  justify-items: start;
}

.other-message .message-content {
  grid-template-columns:1fr;
  grid-column-gap: 15px;
}

.message-time {
  font-size: 1.3rem;
  color: #777;
  grid-row: 3;
}
.message-text {
  grid-row: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 9px 14px;
  font-size: 1.3rem;
  margin-bottom: 5px;
  width: 450px;
  word-break: wrap;
}

.message-text > div::after {
  clear: both;
  display: table;
  content: ' ';
  overflow: hidden;
}
.more-options{
  visibility: hidden;
  grid-row: 1;
  color: #ccc;
}
.message-info{
  align-self: flex-end;
  font-size: 1rem;
  color: #ccc;
}

.message-star{
  display: none;
  margin-right: 5px;
}

.message-star.show{
  display: inline-block;
  color: goldenrod;

}
.message-checked{
  color: #57C6F4;
}
.self-message .message-text {
  background: #DCF8C6;
  color: #000000;
  border: 1px solid #DCF8C6;
  border-radius: 14px 14px 0 14px;
  z-index: 1;
}

.other-message .message-text {
  background: #ffffff;
  color: #000000;
  border: 1px solid #ddd;
  border-radius: 14px 14px 14px 0;
  z-index: 1;
}

.self-message .message-text:hover .more-options {
  visibility: visible;
  z-index: 1;

}

.other-message .message-text:hover .more-options {
  visibility: visible;
  z-index: 1;

}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40%;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}

.dropdown-content div{
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content div:hover {
  background-color: #ddd;
}

.dropdown-content.show {
  display: block
}

