* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  height: 100vh;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color:   #DADBD3;
  font-size: 10px;
}
div{
  display: block;
}

.app{
  padding-top: 15px;
  width: 100%;
}
.appHead{
  width: 100%;
  height: 127px;
  background-color: #009588;
  position: fixed;
  z-index: -1;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}